@font-face {
    font-family: "main-text";
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

[data-theme="dark"]
{
    --primary: #000000;
    --primary-800: #161616;
    --primary-700: #232323;
    --primary-700-tp: #2323239c;
    --text: #cdcdcd;
    --link: #55c6f3;
    --link-hover: #88ddff;
    --code-highlight: rgb(60, 104, 60);
}

:root {

    font-size: 16px;
}

body
{
    font-family: 'main-text', sans-serif;
    background-color: var(--primary);
    color: var(--text);
    max-width: 768px;
    margin: 0 auto;
    padding: 0 10px;
    min-height: 100dvh;
    display: flex;
    flex-flow: column;
}

p
{
    line-height: 1.5;
}

a {
    color: var(--link);
    text-decoration: none
}
a:hover
{
    color: var(--link-hover)
}

ul, ol
{
    list-style-position: inside;
    padding-left: 5px;
    margin: 10px 0;
}

ul ul, ol ol
{
    padding-left: 20px;
}

ul li
{
    list-style: '-️';
}

ul ul li
{
    list-style: '+';
}

li{
    padding-left: 8px;
    margin: 5px 0;
}

code:not(pre code)
{
    background-color: var(--code-highlight);
    border-radius: 2px;
    padding: 0 2px;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 -10px;
    padding: 0 10px;
    border-bottom: 1px solid #eeeeee55;
}

.header__title
{
    margin: 0;
    font-size: 32px;
}

.header__title a
{
    color: inherit;
}

.header__nav_toggle
{
    appearance: none;
    height: fit-content;
    font-size: 32px;
    background:none;
    color: var(--text);
    border: none;
    border-radius: 2px;
    padding: 5px;
}

.header__nav_toggle:hover
{
    cursor: pointer;
}

.header__nav_toggle:active
{
    background-color: var(--primary-700);
    -webkit-tap-highlight-color: transparent;
}

.header__nav
{
    background-color: var(--primary-700-tp);
    backdrop-filter: blur(5px);
    height: calc(100dvh - 60px);
    width: 70dvw;

    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;

    padding: 10px;

    display: none;
    /* display: flex; */
    flex-flow: column;
    gap: 20px;
}

.show
{
    display: flex;
}


.codehilite
{
    overflow: auto;
    border-radius: 2px;
}

/* list style definition */
dd 
{
    margin-bottom: 10px;
}
/* ends list style definition */

.footer
{
    margin-top: auto;
}

p.copyright
{
    font-size: 0.8rem;
}