<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                {% block title %}Scribo{% endblock %}
            </title>
            <meta name="description" content="{% block description %}{% endblock %}">
            <meta name="author" content="{{ author }}">
            <link rel="stylesheet" href="/assets/styles/style.css">
            <link rel="stylesheet" href="/assets/styles/remixicon.css">
            <link rel="stylesheet" href="/assets/styles/theme.css">
            <script src="/assets/scripts/script.js" defer></script>
        {% endblock %}
    </head>

    <body data-theme="dark">
        {% include "header.html.jinja" %}
        <div class="base_content">
            {% block base_content %}{% endblock %}
        </div>


        {% include "footer.html.jinja" %}
    </body>

</html>
