<header class="header">
    <p class="header__title">
        <a href="/">{{ project_name }}</a>
    </p>
    <button class='header__nav_toggle ri-menu-line hidden'
            aria-label="toggle nav"></button>
    <nav class="header__nav">
        {% for page in pages.children %}<a href="/{{ page.path }}">{{ page.name.capitalize() }}</a>{% endfor %}
    </nav>
</header>
