@font-face {
    font-family: "poppins";
    src: url('../fonts/Poppins-Regular.ttf');
}

* {
    box-sizing: border-box;
}

[data-theme="dark"]
{
    --primary: #000000;
    --text: #cdcdcd;
    --link: #55c6f3;
    --link-hover: #88ddff;
    --code-highlight: rgb(60, 104, 60);
}

body
{
    font-family: 'poppins', monospace;
    background-color: var(--primary);
    color: var(--text);
    max-width: 768px;
    margin: 0 auto;
    padding: 0 10px;
    min-height: 100dvh;
}

a {
    color: var(--link)
}
a:hover
{
    color: var(--link-hover)
}

code:not(pre code)
{
    background-color: var(--code-highlight);
    border-radius: 2px;
    padding: 0 2px;
}

.codehilite
{
    overflow: auto;
}